{:service-map {:allowed-origins ["http://localhost:8080" ""]
               :host "localhost"
               :port 3000}
 :database {:server-type :datomic-local
            :system "localhost"
            :storage-dir :mem
            :db-name "development"}}
